:root {
  /* Polar Night */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a; /*220 16% 36%*/

  /* Snow Storm */
  --nord4: #d8dee9; /*219 28% 88%*/
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  /* Frost */
  --nord7: #8fbcbb; /*179 25% 65%*/
  --nord8: #88c0d0; /*193 43% 67%*/
  --nord9: #81a1c1; /*210 34% 63%*/
  --nord10: #5e81ac; /*213 32% 52%*/

  /* Aurora */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body
{
  /* Editor */
    /* Headings */
    --h1-color: var(--nord8);
    --h2-color: var(--nord7);
    --h3-color: var(--nord9);
    --h4-color: var(--nord10);
    /* Link */
    --link-color: #4a9dff;
    --link-external-color: #4a9dff;
}
 
.theme-dark
{
  /* Components */
    /* Tabs */
    --tab-text-color: #9ea1a8;
    --tab-text-color-active: var(--nord4);
    --tab-text-color-focused: var(--nord6);
    --tab-divider-color: #878b92;
    /* Toggle */
    --toggle-thumb-color: var(--nord3);

  /* Editor */
    /* Headings */
    --h1-color: #BDD3E9;
    --h2-color: #A1BBD5;
    --h3-color: #81A1C1;
    --h4-color: #6388AD;
    --h5-color: #456F99;
    --h6-color: #275685;
    /* Inline title */
    --inline-title-color: var(--nord4);
    /* Table */
    --table-border-color: var(--nord3);

  /* Foundation */
    /* Colors */
      /* Accent color */
      /* nord4 */
      --accent-h: 219;
      --accent-s: 28%;
      --accent-l: 88%;
      /* Semantic colors */
      --background-primary: var(--nord0);
      --background-secondary: var(--nord1);
      /* Text colors */
      --text-on-accent: var(--nord3);

  /* Window */
    /* Window frame */
    --titlebar-background: var(--nord1);
    --titlebar-background-focused: var(--nord2);
}

.theme-light
{
  /* Editor */
    /* Headings */
    --h5-color: var(--nord1);
    --h6-color: var(--nord0);
    /* Inline title */
    --inline-title-color: var(--nord3);
    /* Table */
    --table-border-color: var(--nord4);

  /* Foundation */
    /* Colors */
      /* Accent color */
      /* nord4 */
      --accent-h: 220;
      --accent-s: 16%;
      --accent-l: 36%;
      /* Semantic colors */
      --background-primary: #FFFFFF;
      --background-secondary: #f2f4f8;
      /* Text colors */
      --text-on-accent: var(--nord5);
}
