:root {
  /* Polar Night */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  /* Snow Storm */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  /* Frost */
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  /* Aurora */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body
{
  /* Editor */
    /* Link */
    --link-color: #0b62e5;
    --link-external-color: #0b62e5;
}
 
.theme-dark
{
  /* Editor */
    /* Blockquote */
    --blockquote-background-color: var(#FFFFFF);
    --blockquote-border-color: var(#648897);
    /* Headings */
    --h1-color: var(--nord7);
    --h2-color: var(--nord8);
    --h3-color: var(--nord9);
    --h4-color: var(--nord10);
    /* Inline title */
    --inline-title-color: var(--nord4);

  /* Foundation */
    /* Colors */
      /* Accent color */
      /* nord6 */
      --accent-h: 217.5;
      --accent-s: 26.7%;
      --accent-l: 94.1%;
      /* Semantic colors */
      --background-primary: var(--nord0);
      --background-secondary: var(--nord1);
}
